<div class="cards">
  <mat-card
    class="new-questions-card"
    (click)="openNewQuestionDialog('500ms', '500ms')"
  >
    <mat-card-content>
      <div class="icon-and-text">
        <mat-icon>note_add</mat-icon>
        <p>Gerar Questões</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card
    class="list-questions-card"
    (click)="openQuestionsDialog('500ms', '500ms')"
  >
    <mat-card-content>
      <div class="icon-and-text">
        <mat-icon>format_list_numbered</mat-icon>
        <p>Consultar Questões</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="spinner" *ngIf="spinnerActive">
  <mat-spinner [diameter]="100"></mat-spinner>
</div>
